<app-header
></app-header>
<body>

  <div class="privacy-notice">
    <h1>Aviso de Privacidad</h1>

    <p>
      En <strong>Tu Ferretería</strong>, nos comprometemos a proteger la privacidad de nuestros clientes y usuarios.
      Este aviso de privacidad describe cómo recopilamos, utilizamos y protegemos la información personal que recopilamos.
    </p>

    <h2>Información que Recopilamos</h2>
    <p>
      Recopilamos información personal cuando realizas una compra, te registras en nuestro sitio o participas en promociones.
      La información recopilada puede incluir tu nombre, dirección, dirección de correo electrónico y detalles de pago.
    </p>

    <h2>Cómo Utilizamos tu Información</h2>
    <p>
      Utilizamos la información recopilada para procesar pedidos, mejorar nuestro servicio al cliente y personalizar tu experiencia de compra.
      No compartiremos tu información con terceros sin tu consentimiento expreso.
    </p>

    <h2>Seguridad</h2>
    <p>
      Implementamos medidas de seguridad para proteger tu información personal contra accesos no autorizados y mantenemos la confidencialidad de los datos.
    </p>

    <h2>Política de Cookies</h2>
    <p>
      Utilizamos cookies para mejorar tu experiencia en nuestro sitio. Puedes gestionar tus preferencias de cookies en la configuración de tu navegador.
    </p>

    <h2>Contacto</h2>
    <p>
      Si tienes preguntas sobre nuestro aviso de privacidad, no dudes en <a href="contacto.html">contactarnos</a>.
    </p>
  </div>

</body>

