.sidebar-light .nav-item .nav-link i {
    color: #d1d3e2;
  }
  
  .sidebar-light .nav-item .nav-link:active, .sidebar-light .nav-item .nav-link:focus, .sidebar-light .nav-item .nav-link:hover {
    color: #6e707e;
  }
  
  .sidebar-light .nav-item .nav-link:active i, .sidebar-light .nav-item .nav-link:focus i, .sidebar-light .nav-item .nav-link:hover i {
    color: #6e707e;
  }
  
  .sidebar-light .nav-item .nav-link[data-toggle="collapse"]::after {
    color: #b7b9cc;
  }
  
  .sidebar-light .nav-item.active .nav-link {
    color: #6e707e;
  }
  
  .sidebar-light .nav-item.active .nav-link i {
    color: #6e707e;
  }
  
  .sidebar-light #sidebarToggle {
    background-color: #eaecf4;
  }
  
  .sidebar-light #sidebarToggle::after {
    color: #b7b9cc;
  }
  
  .sidebar-light #sidebarToggle:hover {
    background-color: #dddfeb;
  }
  
  .sidebar-dark .sidebar-brand {
    color: #fff;
  }
  
  .sidebar-dark hr.sidebar-divider {
    border-top: 1px solid rgba(255, 255, 255, 0.15);
  }
  
  .sidebar-dark .sidebar-heading {
    color: rgba(255, 255, 255, 0.4);
  }
  
  .sidebar-dark .nav-item .nav-link {
    color: rgba(255, 255, 255, 0.8);
  }
  
  .sidebar-dark .nav-item .nav-link i {
    color: rgba(255, 255, 255, 0.3);
  }
  
  .sidebar-dark .nav-item .nav-link:active, .sidebar-dark .nav-item .nav-link:focus, .sidebar-dark .nav-item .nav-link:hover {
    color: #fff;
  }
  
  .sidebar-dark .nav-item .nav-link:active i, .sidebar-dark .nav-item .nav-link:focus i, .sidebar-dark .nav-item .nav-link:hover i {
    color: #fff;
  }
  
  .sidebar-dark .nav-item .nav-link[data-toggle="collapse"]::after {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .sidebar-dark .nav-item.active .nav-link {
    color: #fff;
  }
  
  .sidebar-dark .nav-item.active .nav-link i {
    color: #fff;
  }
  
  .sidebar-dark #sidebarToggle {
    background-color: rgba(255, 255, 255, 0.2);
  }
  
  .sidebar-dark #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .sidebar-dark #sidebarToggle:hover {
    background-color: rgba(255, 255, 255, 0.25);
  }
  
  .sidebar-dark.toggled #sidebarToggle::after {
    color: rgba(255, 255, 255, 0.5);
  }
  
  .btn-circle {
    border-radius: 100%;
    height: 2.5rem;
    width: 2.5rem;
    font-size: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
  }
  
  .btn-circle.btn-sm, .btn-group-sm > .btn-circle.btn {
    height: 1.8rem;
    width: 1.8rem;
    font-size: 0.75rem;
  }
  
  .btn-circle.btn-lg, .btn-group-lg > .btn-circle.btn {
    height: 3.5rem;
    width: 3.5rem;
    font-size: 1.35rem;
  }