/* Estilos para la barra de navegación */
.navbar {
    background-color: #1f2021;
    color: #67c5c4;
    padding: 10px 0;
    display: flex;
    justify-content: space-between; /* Alinea los elementos a los extremos */
  }
  
  /* Estilos para la sección derecha con "Contacto" e "Inicio de Sesión" */
  .right-nav ul {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
  }
  
  .right-nav ul li {
    margin-right: 20px;
  }
  
  .right-nav ul li a {
    text-decoration: none;
    color: #352e2e;
    font-weight: bold;
  }
  
  .h2 h2 {
    color: #0e0d0d;
  }
  
  .home-container {
    background-image: url('../../../assets/descarga.png');
    background-size: cover;
    background-position: center;
    color: #fff;
    padding: 20px;
  }
  
  header {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .h1 {
    font-size: 36px;
    color: #8b23ab;
  }
  
  main {
    text-align: center;
  }
  
  .user-info {
    margin-bottom: 20px;
  }
  
  .profile-image {
    width: 200px;
    height: 200px;
    border-radius: 90%;
    object-fit: cover;
    margin-bottom: 10px;
  }
  
  /* Estilos para tamaños de pantalla más pequeños */
  @media (max-width: 768px) {
    .profile-image {
      width: 150px;
      height: 150px;
    }
  
    .h1 {
      font-size: 28px;
    }
  }
  
  .action-button {
    background-color: #ff4081;
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-bottom: 20px;
  }
  
  footer {
    text-align: center;
    margin-top: 20px;
  }
  
  footer p {
    font-size: 14px;
    color: #555;
  }
  