<div class="home-container">
    <header>
      <h1>Diario de Mia y Trejo</h1>
    </header>
    <main>
        <p class="h1">¡  ❤️ MI CHIQUITA HERMOSA!❤️</p>
      <div class="user-info">
        <img src="../../../assets/GYM.jpeg" alt="Imagen de perfil" class="profile-image">
       
      </div>
      <div class="recent-entries">
        <!-- Aquí puedes mostrar las entradas más recientes -->
      </div>
      <button class="action-button" routerLink="/inicio">❤️ ¡Te amo infinito..! ❤️</button>
    </main>
   
  </div>
  